@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: rgb(47, 47, 47);
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  position: relative;
}

.nav-bar {
  background-color: #6851ff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 80px;
}

.nav-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.magic-horizontal {
  padding-top: 5px;
  height: 70px;
  margin-left: 20px;
}

.magic-horizontal:hover {
  opacity: 0.9;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(232, 232, 232, 0.9);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
}

.home-title {
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  line-height: 1.1;
  margin-top: 70px;
}

.home-title span {
  font-weight: normal;
  font-size: 45px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.logo {
  height: 150px;
}

.plus-sign {
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.wallet-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.wallet-widget {
  width: 500px;
  height: 710px;
  border-radius: 16px;
  padding: 40px 50px 50px 50px;
  box-shadow: 0px 4px 24px rgba(49, 49, 49, 0.1);
}

.wallet-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.connected {
  color: green;
}

.disconnected {
  color: red;
}

.info-container {
  margin-bottom: 5px;
}

.send-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 296px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dddbe0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #18171a;
  margin-bottom: 15px;
}

.form-input::placeholder {
  color: #77767a;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #6851ff;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  margin: 0 6px;
}

button:hover {
  opacity: 0.85;
}

button:active {
  opacity: 1;
}

hr {
  margin: 25px;
  border: 1px solid #dddbe0;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.balance-button {
  width: 80px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 0;
  margin-top: 5px;
}

.send-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 0;
  font-weight: bold;
}

.sign-out-button {
  width: 224px;
  height: 48px;
  font-size: 18px;
  line-height: 0;
  font-weight: bold;
}

li {
  margin: 15px 0;
  color: rgb(47, 47, 47);
}

code {
  background-color: rgb(40, 44, 52);
  color: rgb(171, 178, 191);
  padding: 4px;
  border-radius: 4px;
}

.code-block {
  margin: 10px auto;
  width: 94%;
}

section {
  text-align: justify;
  width: 1000px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

section p {
  width: 650px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

#instructions {
  width: 750px;
  font-size: 16px;
  margin-bottom: 150px;
}

.divider {
  border: 1px solid rgb(147, 147, 147);
  margin: 80px 0 60px 0;
  width: 460px;
}

.step-list {
  margin-top: 35px;
}

#demo p {
  margin-bottom: 28px;
}

.sign-in-button {
  width: 250px;
  height: 55px;
  font-size: 24px;
  margin-bottom: 16px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

footer p {
  color: #b8b8b8;
  font-weight: 600;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.footer-link {
  text-decoration: none;
  color: #6851ff;
  font-weight: 600;
}
