.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: #6851ff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 80px;
}

.nav-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.magic-horizontal {
  padding-top: 5px;
  height: 70px;
  margin-left: 20px;
}

.magic-horizontal:hover {
  opacity: 0.9;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(232, 232, 232, 0.9);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.home-title {
  font-size: 55px;
  font-weight: bold;
  padding: 0;
  line-height: 1.1;
  margin-top: 70px;
}

.home-title span {
  font-weight: normal;
  font-size: 45px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.logo {
  height: 150px;
}

.plus-sign {
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.wallet-container {
  margin-top: 150px;
}
